In [1]:
import pandas as pd

In [2]:
birth_data_2 = pd.read_csv('../data/birth_data_final.csv')

In [3]:
birth_data_2

,Place,Mother_Age,Race,Edu_level,Induction,Augmented,Delivery_Type,Maternal_Transfusion,Perineal_Tear,Uterin_Rupture,unplanned_hysterectomy,ICU_Admission,attend,Payment_Type,5_min_APGAR,Year
0,1,5,4.0,7,N,N,1,N,N,N,N,N,1,2,9,2010
1,1,3,1.0,3,Y,N,1,N,N,N,N,N,1,3,9,2010
2,1,4,1.0,5,N,N,1,N,N,N,N,N,1,1,9,2010
3,1,5,1.0,4,Y,N,1,N,N,N,N,N,1,2,10,2010
4,1,4,1.0,7,N,N,1,N,N,N,N,N,1,2,9,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35567404,2,4,2.0,4,N,N,1,N,N,N,N,N,3,1,8,2020
35567405,1,5,1.0,3,N,N,2,N,N,N,N,N,1,1,7,2020
35567406,1,5,2.0,9,N,N,2,N,N,N,N,N,1,1,9,2020
35567407,1,5,2.0,9,N,N,2,N,N,N,N,N,1,1,9,2020
35567408,2,5,1.0,5,N,N,1,N,N,N,N,N,3,1,9,2020

In [4]:
birth_data_2['Place'] = birth_data_2['Place'].replace({1: 'hospital', 2: 'birth_center'})

In [5]:
birth_data_2['Race'] = birth_data_2['Race'].replace({1: 'white', 2: 'black', 4: 'Asian'})

In [6]:
birth_data_2['Delivery_Type'] = birth_data_2['Delivery_Type'].replace({1: 'Vaginal', 2: 'C-Section', 9: 'Unknown'})

In [7]:
birth_data_2['attend'] = birth_data_2['attend'].replace({1: 'MD', 3: 'CNM', 4: 'Midwife'})

In [8]:
birth_data_2['Payment_Type'] = birth_data_2['Payment_Type'].replace({1: 'Medicaid', 2: 'Private_Ins', 3: 'Self_Pay', 4: 'Other'})

In [9]:
birth_data_2['Mother_Age'] = birth_data_2['Mother_Age'].replace({1: 'under_15yrs', 2: '15_19yrs', 3: '20_24yrs', 4: '25-29yrs', 5: '30-34yrs', 6: '35-39yrs', 7: '40-44yrs', 8: '45-49yrs', 9: '50-54yrs'})

In [10]:
birth_data_2['Edu_level'] = birth_data_2['Edu_level'].replace({1: '8th_grade_or_less', 2: '9th-12th_no_diploma', 3: 'HS_grad_or_GED', 4: 'some_college_credit_no_degree', 5: 'AA, AS', 6: 'Bachelors', 7: 'Masters', 8: 'Doctorate', 9: 'Unknown'})

In [11]:
birth_data_2

,Place,Mother_Age,Race,Edu_level,Induction,Augmented,Delivery_Type,Maternal_Transfusion,Perineal_Tear,Uterin_Rupture,unplanned_hysterectomy,ICU_Admission,attend,Payment_Type,5_min_APGAR,Year
0,hospital,30-34yrs,Asian,Masters,N,N,Vaginal,N,N,N,N,N,MD,Private_Ins,9,2010
1,hospital,20_24yrs,white,HS_grad_or_GED,Y,N,Vaginal,N,N,N,N,N,MD,Self_Pay,9,2010
2,hospital,25-29yrs,white,"AA, AS",N,N,Vaginal,N,N,N,N,N,MD,Medicaid,9,2010
3,hospital,30-34yrs,white,some_college_credit_no_degree,Y,N,Vaginal,N,N,N,N,N,MD,Private_Ins,10,2010
4,hospital,25-29yrs,white,Masters,N,N,Vaginal,N,N,N,N,N,MD,Private_Ins,9,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35567404,birth_center,25-29yrs,black,some_college_credit_no_degree,N,N,Vaginal,N,N,N,N,N,CNM,Medicaid,8,2020
35567405,hospital,30-34yrs,white,HS_grad_or_GED,N,N,C-Section,N,N,N,N,N,MD,Medicaid,7,2020
35567406,hospital,30-34yrs,black,Unknown,N,N,C-Section,N,N,N,N,N,MD,Medicaid,9,2020
35567407,hospital,30-34yrs,black,Unknown,N,N,C-Section,N,N,N,N,N,MD,Medicaid,9,2020
35567408,birth_center,30-34yrs,white,"AA, AS",N,N,Vaginal,N,N,N,N,N,CNM,Medicaid,9,2020

In [12]:
birth_data_2.to_csv('birth_data_2.csv', index=False)