In [1]:
import pandas as pd

# Bring in Data Set filtering only specific columns

In [2]:
birth_data = pd.read_csv('../Data/data_2020.csv', usecols=['MRACE6', 'RESTATUS'])

In [3]:
birth_data

         RESTATUS  MRACE6
0             1.0     1.0
1             1.0     1.0
2             2.0     1.0
3             1.0     1.0
4             2.0     1.0
...           ...     ...
3619849       1.0     1.0
3619850       1.0     1.0
3619851       2.0     2.0
3619852       2.0     2.0
3619853       2.0     1.0

[3619854 rows x 2 columns]

In [4]:
birth_data['RESTATUS'].value_counts()

1.0    2486335
2.0    1037269
3.0      90043
4.0       6179
Name: RESTATUS, dtype: int64

# rename dataframe

In [ ]:
birth_data = pd.DataFrame(birth_data)

birth_data = birth_data[['bfacil', 'mrace6', 'ld_indl', 'ld_augm', 'dmeth_rec', 'mm_mtr', 'mm_plac', 'mm_rupt', 'mm_uhyst', 'mm_aicu', 'apgar5', 'pay_rec', 'attend']]

# Rename columns for clarity

In [ ]:
birth_data = birth_data.rename(columns = {'BFACIL': 'Place', 'MRACE6': 'Race', 'LD_INDL': 'Induction', 'LD_AUGM': 'Augmented', 'DMETH_REC': 'Delivery_Type', 'MM_MTR': 'Maternal_Transfusion', 'MM_PLAC': 'Perineal_Tear', 'MM_RUPT': 'Uterin_Rupture', 'MM_UHYST': 'unplanned_hysterectomy', 'MM_AICU': 'ICU_Admission', 'APGAR5': '5_min_APGAR', 'PAY_REC': 'Payment_Type', 'MAGER9': 'Mother_Age', 'MEDUC': 'Edu_level', 'ATTEND': 'attend'})
birth_data

In [ ]:
birth_data = birth_data.dropna()

# Break down data to only hospital(1.0) or Freestanding Birth Center(2.0)

In [ ]:
birth_data = birth_data.loc[(birth_data.Place == 1.0) | (birth_data.Place == 2.0)]
birth_data

# breakdown data into 3 major race's White(1.0), Black(2.0), Asian(4.0)

birth_data['Race']

In [ ]:
birth_data = birth_data.loc[(birth_data.Race == 1) | (birth_data.Race == 2) | (birth_data.Race == 4)]
birth_data

# breakdown data of Attendant at Birth MD(1.0), CNM/CM(3.0), Other Midwife(4.0)

In [ ]:
birth_data = birth_data.loc[(birth_data.attend == 1) | (birth_data.attend == 3) | (birth_data.attend == 4)]
birth_data

In [ ]:
birth_data.info()

In [ ]:
birth_data[['Place', 'Mother_Age', 'Race', 'Edu_level', 'Delivery_Type', 'attend', 'Payment_Type', '5_min_APGAR']] = birth_data[['Place', 'Mother_Age', 'Race', 'Edu_level', 'Delivery_Type', 'attend', 'Payment_Type', '5_min_APGAR']].astype(int)

In [ ]:
birth_data['Year'] = 2020

In [ ]:
birth_data

In [ ]:
full_2020 = birth_data

In [ ]:
full_2020.to_csv('full_2020.csv', index=False)